body {
  font-size: x-large;
}

header {
  display: grid;
  grid-template-columns: 400px auto 100px;
  grid-template-areas: 'logo nav logout';
  z-index: 2;

  height: 55px;
  width: 100vw;
  padding-top: 20px;
  background-color: orangered;
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.329);
}

nav,
li,
a {
  display: inline-block;
}

nav > ul > li {
  font-size: 22px;
  margin: 0 20px;
}

nav > ul > li:hover {
  color: rgba(240, 248, 255, 0.568);
}

.logo {
  grid-area: logo;
  width: 350px;
  height: 70px;
  margin: auto;

  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  color: aliceblue;
}

nav {
  grid-area: nav;
  height: 70px;
  color: aliceblue;
}

.logout {
  grid-area: logout;
  height: 70px;
  width: 150px;

  color: aliceblue;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-areas:
    'aside introduce'
    'aside cards';
}

aside {
  grid-area: aside;
  display: block;
  width: 250px;

  background-color: gainsboro;
  border-right: 1px solid rgb(173, 173, 173);
}

aside > h2 {
  margin: 40px 0;
  padding-left: 40px;
}

aside > ul {
  margin-bottom: 50px;
}

aside > ul > li {
  display: block;
  height: 30px;
  font-size: 20px;
  padding-left: 40px;
}

aside > ul > li:hover {
  color: aliceblue;
  background-color: gray;
}

br {
  height: 0px;
}

.introduce {
  grid-area: introduce;
  display: block;
  width: 100vw;

  padding: 100px;
  border-bottom: 1px solid rgb(173, 173, 173);

  background-color: rgb(248, 248, 248);
  line-height: 140%;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 200%;
}

.cards {
  grid-area: cards;
  display: grid;
  grid-template-columns: repeat(auto-fill, 470px);

  padding: 20px;
  place-items: center;
  gap: 20px 20px;
}

article {
  width: 470px;
  height: 420px;

  border: 1px solid rgb(226, 226, 226);
  border-radius: 15px;
  box-shadow: 2px 2px 3px rgba(128, 128, 128, 0.329);
}

.cd-img {
  width: 420px;
  height: 300px;
  margin: 20px auto;
}

.card01 > div.cd-img {
  background-image: url('https://fastcampus-css-final.netlify.app/photo_1.jpg');
  background-size: cover;
}
.card02 > div.cd-img {
  background-image: url('https://fastcampus-css-final.netlify.app/photo_2.jpg');
  background-size: cover;
}
.card03 > div.cd-img {
  background-image: url('https://fastcampus-css-final.netlify.app/photo_3.jpg');
  background-size: cover;
}
.card04 > div.cd-img {
  background-image: url('https://fastcampus-css-final.netlify.app/photo_4.jpg');
  background-size: cover;
}
.card05 > div.cd-img {
  background-image: url('https://fastcampus-css-final.netlify.app/photo_5.jpg');
  background-size: cover;
}

.cd-text {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-areas:
    'heart name'
    'heart expl';

  width: 390px;
  margin: auto;

  font-size: 20px;
  line-height: 150%;
}

.heart {
  grid-area: heart;
  align-self: center;
}

.heart:hover {
  filter: opacity(0.7);
}

.name {
  grid-area: name;
  font-weight: bold;
}

.expl {
  grid-area: expl;
  color: gray;
}

#id {
  position: fixed;
}

footer {
  grid-area: footer;
  display: block;
  position: relative;
  width: 100vw;
  height: 150px;

  background-color: rgb(58, 58, 58);
  text-align: center;
}

footer > ul {
  display: inline-block;
  position: absolute;
  top: 70px;
  margin: auto;

  color: aliceblue;
  font-size: 22px;
  font-weight: 200;
}

footer > ul > li {
  margin: 0 20px;
}

footer > ul > li:hover {
  color: rgba(240, 248, 255, 0.555);
}

.btn {
  display: float;
  z-index: 1;

  width: inherit;
  height: inherit;
  background-image: url('https://fastcampus-css-final.netlify.app/camera.png');
  filter: invert(69%) sepia(69%) saturate(5322%) hue-rotate(340deg)
    brightness(102%) contrast(101%);
}
